<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://thymeleaf.org">-->

<!--<div th:replace="./header :: header"/>-->

<!--&lt;!&ndash;<div th:replace="./menu :: menu"/>&ndash;&gt;-->
<!--<body>-->
<!--<h1> My List</h1> <table class="table table-dark">-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th scope="col">Email</th>-->
<!--        <th scope="col">Name</th>-->
<!--        <th scope="col">Password</th>-->
<!--        <th scope="col">Courses Names</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr th:each="todo: ${todoitems}">-->
<!--        <th scope="row" th:text="${todo.description}"></th>-->
<!--&lt;!&ndash;        <td th:text="${todo.name}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;        <td>********</td>&ndash;&gt;-->
<!--&lt;!&ndash;        <td>&ndash;&gt;-->
<!--&lt;!&ndash;            <p class="d-inline" th:each="course: ${student.courses}">&ndash;&gt;-->
<!--&lt;!&ndash;                <span class="mx-1" th:text="${course.name}"></span>&ndash;&gt;-->
<!--&lt;!&ndash;            </p>&ndash;&gt;-->
<!--&lt;!&ndash;        </td>&ndash;&gt;-->
<!--    </tr>-->

<!--    </tbody>-->
<!--</table>-->

<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TodoList demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="/mylist.css" rel="stylesheet">
    <link href="/overrides.css" rel="stylesheet">
</head>
<body>

<div id="wrapper" class="toggled">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="/index" class="current">
                    My List (Home)
                </a>
            </li>
            <li>
                <a href="/todoitem/additem">Add Item</a>
            </li>
            <li>
                <a href="/group/addgroup">Add Group</a>
            </li>
            <li>
                <a href="/settings">Settings</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">

            <h1>My List</h1>
            <div class="form-floating">
<!--                th:field="*{selected_group}"-->
                <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                    <option selected value="0">All items</option>
                    <option th:each="group: ${groups}"
                            th:value="${group.id}"
                            th:text="${group.groupName}"/>
                </select>


                <label for="floatingSelect">View</label>
<!--                <div th:text="${selected_group}"/>-->
            </div>


            <ol class="list-group list-group-flush" style="margin: 12px 0 12px 0">
                <li th:each="todoitem: ${todoitems}" class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">

                        <span th:text="'Description: ' + ${todoitem.description}" class="itemDescription"></span>
                        <div th:text="'Group: ' + ${todoitem.group.groupName}" class="itemGroup"></div>
                        <div th:text="'Status: ' + ${todoitem.status.status}" class="itemStatus"></div>

<!--                        <div class="form-floating">-->
<!--                            <select class="form-select" id="floatingSelect1" aria-label="Floating label select example">-->
<!--                                <option selected value="1">Status</option>-->
<!--                                <option value="2">Done</option>-->
<!--                                <option value="3">Todo</option>-->
<!--                                <option value="3">doing</option>-->
<!--                            </select>-->
<!--                            <label for="floatingSelect">view</label>-->
<!--                        </div>-->
                    </div>
                    <a class="btn btn-primary mr-2" th:href="'/todoitem/edititem?itemId=' + ${todoitem.id}">Edit</a>

                    <!--                    <span class="badge bg-primary rounded-pill"><a th:method="delete" th:href="'/todoitem/todoitem?itemId=' + ${todoitem.id}">Delete</a></span>-->
<!--                    <span class="badge bg-primary rounded-pill"><a onclick="myFunction()" href="#">Delete</a></span>-->

                    <form th:action="@{/todoitem/todoitem/{id}(id=${todoitem.id})}" th:method="Post">
<!--                        <input type="hidden"  th:value="*{todoitem.id}" id="itemId" name="itemId">-->
                        <button type="submit" class="btn btn-primary">Delete</button>
                    </form>


                </li>
<!--                <li class="list-group-item d-flex justify-content-between align-items-start">-->
<!--                    <div class="ms-2 me-auto">-->

<!--                        <span class="itemDescription">[Item Description Lorem]</span>-->
<!--                        <div class="itemGroup">[Item Group]</div>-->
<!--                    </div>-->
<!--                    <span class="badge bg-primary rounded-pill"><a href="/todoitem/edititem">Edit</a></span>&nbsp;-->
<!--                    <span class="badge bg-primary rounded-pill"><a onclick="myFunction()" href="#">Delete</a></span>-->
<!--                </li>-->
<!--                <li class="list-group-item d-flex justify-content-between align-items-start">-->
<!--                    <div class="ms-2 me-auto">-->
<!--                        <div class="fw-bold itemTitle">[Item Title]</div>-->
<!--                        <span class="itemDescription">[Item Description Lorem]</span>-->
<!--                        <div class="itemDegroup">[Item Group]</div>-->
<!--                    </div>-->
<!--                    <span class="badge bg-primary rounded-pill"><a href="/todoitem/edititem">Edit</a></span>&nbsp;-->
<!--                    <span class="badge bg-primary rounded-pill"><a onclick="myFunction()" href="#">Delete</a></span>-->
<!--                </li>-->
            </ol>
            <div style="float:right"><a href="#addItemButton" class="btn btn-secondary" id="addItemButton">Add Item</a></div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->


<script>
function myFunction() {
if (confirm("Are you sure you want to delete??") == true) {
    return true;
  }
}
</script>
</body>
</html>


