<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<div th:replace="./header :: header"/>

<!--<div th:replace="./menu :: menu"/>-->
<body>
<h1> My List</h1> <table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">Email</th>
        <th scope="col">Name</th>
        <th scope="col">Password</th>
        <th scope="col">Courses Names</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="todo: ${todoitems}">
        <th scope="row" th:text="${todo.description}"></th>
<!--        <td th:text="${todo.name}"></td>-->
<!--        <td>********</td>-->
<!--        <td>-->
<!--            <p class="d-inline" th:each="course: ${student.courses}">-->
<!--                <span class="mx-1" th:text="${course.name}"></span>-->
<!--            </p>-->
<!--        </td>-->
    </tr>

    </tbody>
</table>

</body>
</html>